.bg-theme{
  background-color: #1287A5;
}

.cart-icon{
  font-size: 2rem;
}

.hero-background{
min-height: 100vh;
display:flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.about-background{
  min-height: 30vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

.btn-warning{
  padding:8px 35px;
}



